.unityPlayer {
  margin-left: 10px;
  display: block;
  overflow: auto;
  float: left;
  margin: 0;
  width: 800px;
  height: 100%;
  min-height: 370px;
  background-color: #FFFFFF; }

.body_right_top.game {
  position: relative;
  float: left;
  margin: 0 0 0 15px;
  width: 275px;
  height: 40%;
  min-height: 150px;
  background-color: #FFFFFF; }
  .body_right_top.game ul {
    padding: 0;
    list-style: none; }
  .body_right_top.game .span {
    width: 100%;
    margin: 10px 0; }

.body_right_bottom.game {
  position: relative;
  float: left;
  margin: 25px 0 0 15px;
  width: 275px;
  height: 60%;
  min-height: 200px;
  background-color: #FFFFFF; }

.comment-form, .comments {
  margin-left: 10px;
  float: left;
  display: block;
  overflow: auto;
  position: relative;
  width: 70%;
  margin: 0 auto 0 auto;
  padding: 20px 0;
  min-height: 100%;
  height: auto !important;
  background-color: #F8F8FF; }

.comment-post {
  float: right;
  height: auto;
  display: block;
  overflow: auto;
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 20px 0;
  min-height: 100%;
  height: auto !important;
  background-color: #F8F8FF;
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #888;
  }
  p {
    float: right;
    line-height: 30px;
    padding-right: 10px;
  }
}

.alert.alert-success {
  width: 100%;
  display: block;
  height: auto;
}

.comment-message {
  text-align: left;
  padding-left: 20px;
  overflow: auto;
}

.comment-date {
  text-align: right;
  color: #000;
  line-height: 26px;
}

.body_right_bottom.game {
  hr {
    border-color: #000;
    margin: 20px 0;
    width: 100%;
    position: relative;
  }
  .game-high-score {


    b.left-column {
      float: left;
      width: 50%;
    }

    b.right-column {
      float: right;
      width: 50%;
    }

    .user-name {
      font-size: 12px;
      margin: 5px 0;
      float: left;
      width: 50%;
    }

    .user-score{
      font-size: 12px;
      margin: 5px 0;
      float: right;
      width: 50%;
    }
  }
}
